<fieldset>
  <label>{{t 'nameLabel'}}</label>
  {{input value=this.name action='nameAction'}}

  <label>{{t 'numberLabel'}}</label>
  {{input value=this.numberValue action='numberAction'}}
</fieldset>
